/.phpunit.cache
/node_modules
/public/build
/resources/js/BaseUrl.js
/public/hot
/public/storage
/bootstrap/cache
/storage/*.key
/storage/pail
/vendor
.env
/.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/auth.json
/.fleet
/.idea
/.nova
/.vscode
/.zed
